:root {
  --bg-color: #0991b1;
  --secondary-bg-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.container {
  display: grid;
}

header,
main,
footer {
  background-color: var(--bg-color);
  padding: 40px 10%;
}

header {
  display: flex;
}

header .about {
  border: 1px solid #000;
  background-color: #fff;
  margin: 25px 0px;
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-text {
}

.social-icons {
  text-align: right;
}

main {
  background-color: var(--secondary-bg-color);
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.project {
  border: 3px solid #efefef;
  padding: 25px;
  height: 300px;
}

.project-image {
  width: 100%;
  height: 200px;
}

footer {
  color: var(--secondary-bg-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-items: flex-end;
}

.footer-info {
}

.footer-image {
  max-width: 800px;
}

img.header-image {
  max-width: 500px;
}
