:root {
  --bg-color: #0991b1;
  --secondary-bg-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
}

.container {
  display: grid;
}

header,
main,
footer {
  background-color: var(--bg-color);
  padding: 40px 10%;
}

header {
  clip-path: polygon(0 0%, 100% 0, 100% 60%, 0 100%);
}

#header-content {
  display: flex;
}

#header-image {
  box-shadow: 2px 2px 2px #000;
}

#about {
  background-color: #fff;
  margin: 25px 0px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#about-text {
  line-height: 1.5rem;
}

.social-icons {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

main {
  background-color: var(--secondary-bg-color);
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.project {
  border: 3px solid #efefef;
  padding: 25px;
  height: 300px;
}

.project-image {
  width: 100%;
  height: 200px;
}

footer {
  color: var(--secondary-bg-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-items: flex-end;
}

.footer-info {
}

.footer-image {
  max-width: 800px;
}

img.header-image {
  max-width: 500px;
}
