:root {
  --bg-color: #0991b1;
  --secondary-bg-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
}

#container {
  display: grid;
}

header,
main,
footer {
  background-color: var(--bg-color);
  padding: 40px 10%;
}

header {
  background: #0991b1;
  background: linear-gradient(
    354deg,
    rgba(255, 255, 255, 1) 35%,
    rgba(9, 145, 177, 1) 35%
  );
}

.header-content {
  display: flex;
}

.img-container .title-box {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 52px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.social-icons h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

.header-image {
  box-shadow: 1px 1px 1px #313131;
  object-fit: cover;
  max-width: 40vw;
}

#about {
  background-color: #fff;
  height: 100%;
  margin: 25px 0px;
  padding: 25px;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #efefef;
  box-shadow: 1px 1px 1px #363636;
}

.about-text {
  line-height: 1.5rem;
}

.social-icons {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

main {
  background-color: var(--secondary-bg-color);
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.project {
  border: 3px solid #efefef;
  padding: 25px;
  height: 300px;
}

.project-image {
  width: 100%;
  height: 200px;
}

footer {
  color: var(--secondary-bg-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-items: flex-end;
}

.footer-info {
}

.footer-image {
  max-width: 800px;
}

img.header-image {
  max-width: 500px;
}
